{% extends 'base.html.twig' %}

{% block title %}Dams Entreprise {% endblock %}

{% block body %}
<h1 class="text-center">Bienvenue à {{ name }}</h1>
    <div class="home container-fluid mt-3">
    <div class="row">
    <div class="overlay container col-lg-8">
    <h1 class="text-center text-white display-3 mt-5 headline">Damien Diaz</h1>
    <div class="top-phrase text-center text-white mt-5">
        <h1>Bienvenue </h1>
    </div>
    <hr class="text-white headline1">
    <div class="d-flex flex-wrap justify-content-around mt-4 headline2">
        <div class="bg-warning zoom col-lg-3 col-sm-10 text-center p-5 rounded-3 mt-5">
            <a href="{{ path('app_video_game') }}" class="d-block color-h3">
                <i class="fa-solid fa-gamepad fa-2xl"></i>
                <h3 class="mt-4">Jeux rétros </h3>
            </a>
        </div>
        <div class="bg-warning zoom col-lg-3 col-sm-10 text-center p-5 rounded-3 mt-5">
            <a href="{{ path('app_movie') }}" class="color-h3">
                <i class="fa-solid fa-clapperboard fa-2xl"></i>
                <h3 class="mt-4">Films</h3>
            </a>
        </div>

        <div class="bg-warning zoom col-lg-3 col-sm-10 text-center p-5 rounded-3 mt-5">
            <a href="{{ path('app_music') }}" class="color-h3">
                <i class="fa-sharp fa-solid fa-music fa-2xl"></i>
                <h3 class="mt-4">Musique</h3>
            </a>
        </div>
    </div>
{% endblock %}