{% extends 'base.html.twig' %}

{% block title %}Nous Contacter{% endblock %}

{% block body %}
    <h2>Nous contacter</h2>
    <p>Une question ? Dams Entreprise est là pour répondre à vos questions</p>
    <div class="col-lg-3">{{ form(form) }}</div>
{% endblock %}
