<footer class="text-center mt-5">
    <b>&copy; 2024 Dams Entreprise </b> <br/>
    <p> La boutique Rétro </p> <br/>
                <a href="https://www.linkedin.com/in/damien-diaz-2453781b2/"><i class="fab fa-linkedin fa-4x text-white col-sm-12 col-lg-1"></i></a> <a href="https://www.linkedin.com/in/damien-diaz-2453781b2/"><i class="fab fa-instagram fa-4x text-white col-sm-12 col-lg-1"></i></a> </small>
    </div>
</footer>

