{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
<h2>Je passe ma commande</h2>
<p>Choississez vos préférences avant de passer votre commande sur la boutique</p>
<hr>
<div class="row">
    <div class="col-md-6">
{% endblock %}
